@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Space+Grotesk:wght@500;700&display=swap');

@theme {
  --color-primary: #3b82f6; 
  --color-dark: #0f172a;    
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark text-white font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display; 
}